*{
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
}
body{
	text-align: center;
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	text-align: center;
}

.formContainer {
	border: 3px solid black;
	border-radius: 12px;
	margin: 10px auto;
	display: inline-block;
	text-align: right;
	padding: 1.5em;
	overflow: hidden;
	background-color: #F5F2F0;
}
input{
		border: 1px solid #337AB7;
		border-radius: 3px;
		margin: 10px;
		padding-left: 8px;
	}
input:hover{
	border: 1px solid red;
}
input:focus{
	background-color: #eee;
}

.btn.btn-primary{
	display: block;
	float: right;
	margin-right: 10px;
	width: 50%;
}

.clearfix::after{
	clear: both;
	display: table;
}

ul li {
	text-decoration: none;
	list-style: none;
	font-size: 1.5em;
}

.resultsContainer{
	display: inline-block;
	text-align: right;
}


@media only screen and (max-device-width: 480px){
	.mainContainer{
		width: 100%;
		height: 100%;
	}
	.formContainer{
		display: block;
		width: 95%;
		text-align: center;
		font-size: 2.4em;
	}

	.btn{
		font-size: 1.3em;
	}

	h1{
		font-size: 5em;
		padding: 0.3em;
	}

	.resultsContainer h2{
		font-size: 2.9em;
	}

	ul li{
		font-size: 2.5em;
	}

	.form {
		display: inline-block;
		text-align: right;
	}
}